# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Garbage
.vs/*
Debug/*
Release/*
*.zip
Shorthand/Release/Shorthand.Build.CppClean.log
Shorthand/Release/Shorthand.dll.recipe
Shorthand/Release/Shorthand.iobj
Shorthand/Release/Shorthand.ipdb
Shorthand/Release/Shorthand.log
Shorthand/Release/Shorthand.tlog/CL.373872.write.1.tlog
Shorthand/Release/Shorthand.tlog/CL.command.1.tlog
Shorthand/Release/Shorthand.tlog/CL.read.1.tlog
Shorthand/Release/Shorthand.tlog/Cl.items.tlog
Shorthand/Release/Shorthand.tlog/link.command.1.tlog
Shorthand/Release/Shorthand.tlog/link.read.1.tlog
Shorthand/Release/Shorthand.tlog/link.secondary.1.tlog
Shorthand/Release/Shorthand.tlog/link.write.1.tlog
Shorthand/Release/Shorthand.tlog/Shorthand.lastbuildstate
Shorthand/Release/Shorthand.vcxproj.FileListAbsolute.txt
Shorthand/Release/vc143.pdb
Shorthand/Release/vcpkg.applocal.log
*.tlog
